@charset "UTF-8";
body,
p,
h1,
h2,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  min-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column
.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-base {
  align-items: baseline;
}

.items-center {
  align-items: center;
}

.content-start {
  align-items: flex-start;
}

.content-end {
  align-items: flex-end;
}

.content-center {
  align-items: center;
}

.content-base {
  align-items: baseline;
}

.content-center {
  align-items: center;
}

.item-start {
  align-self: flex-start;
}

.item-end {
  align-self: flex-end;
}

.item-center {
  align-self: center;
}

.item-base {
  align-self: baseline;
}

.no-wrap {
  flex-wrap: nowrap;
}

body {
  background-color: #f4f1d0;
  overflow-X: hidden;
  height: 6000px;
  font-family: "IBM Plex Sans", sans-serif;
}

*:focus {
  outline: none;
}

.intro {
  height: 500px;
  background-color: #282a2d;
  position: relative;
  z-index: -10;
}

.intro nav {
  padding-top: 20px;
}

.intro h1 {
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 4.5%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 68px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin-top: 80px;
  color: #f4f1d0;
}

@media screen and (max-width: 759px) {
  .intro h1 {
    font-size: 28px;
  }
}

.intro h1 span {
  color: #FC6E40;
}

@media screen and (max-width: 759px) {
  .intro h1 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 100px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 369px) {
  .intro h1 {
    font-size: 26px;
  }
}

.intro p {
  color: rgba(244, 241, 208, 0.8);
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 0.045em;
}

@media screen and (max-width: 759px) {
  .intro p {
    font-size: 16px;
    line-height: 21px;
  }
}

.menu {
  color: #f4f1d0;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #f4f1d0;
  border-radius: 6px;
  font-weight: 500;
}

.menu::after {
  content: '';
  background-image: url(../img/menu-iconsvg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 19px;
  height: 17px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.bg-icons {
  background-image: url("../img/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 480px;
  height: 550px;
  right: 20px;
  top: 180px;
  background-size: contain;
  z-index: -2;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .bg-icons {
    width: 300px;
    top: 300px;
  }
}

@media screen and (max-width: 759px) {
  .bg-icons {
    background-image: url("../img/bg-intro-mobile.svg");
    left: 10px;
    right: 0;
    top: 145px;
    max-width: 280px;
  }
}

.ondas {
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: -99;
  top: -5px;
  left: 0;
}

header {
  position: relative;
  max-width: 100%;
}

button.arrow {
  background-image: url(../img/seta-down.svg);
  display: block;
  width: 32px;
  height: 22px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 30px;
  margin-top: 90px;
  z-index: 2000;
  border: none;
  background-color: initial;
  cursor: pointer !important;
  position: absolute;
  top: 360px;
  left: 0;
  right: 0;
}

@keyframes rodadinha {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes seta-mobile {
  from {
    transform: translate(20px, 10%);
  }
  to {
    transform: translate(10px, 30%);
    background-image: url(../img/1.svg);
    width: 50px;
    opacity: 50%;
  }
}

@keyframes seta-mobile2 {
  from {
    transform: translate(20px, 100%);
    opacity: 0;
  }
  10% {
    opacity: 100%;
  }
  100% {
    transform: translate(0px, 80%);
    background-image: url(../img/1.svg);
    width: 40px;
  }
}

@keyframes seta-mobile3 {
  from {
    transform: translate(20px, 100%);
    opacity: 0;
  }
  10% {
    opacity: 100%;
  }
  100% {
    transform: translate(0px, 140%);
    background-image: url(../img/1.svg);
    width: 30px;
  }
}

@keyframes seta-mobile4 {
  from {
    background-image: url(../img/1.svg);
    width: 200px;
    right: 40px;
  }
  10% {
    opacity: 100%;
  }
  100% {
    transform: translate(0px, 140%);
    width: 30px;
  }
}

@keyframes aparece {
  from {
    opacity: 0;
  }
  to {
    transform: translate(0px, 10%);
    opacity: 50%;
  }
}

.nuvem {
  right: 0;
  position: absolute;
  margin-top: 150px;
  z-index: -200;
  transition: 0.3s ease-out;
  background-image: url(../img/nuvem.svg);
  width: 387px;
  height: 302px;
  display: block;
  background-repeat: no-repeat;
}

@media screen and (max-width: 759px) {
  .nuvem {
    background-image: url(../img/nuvem-mobile.svg);
    left: 0;
    position: absolute;
    margin-top: 60px;
    transition: 0.5s ease-out;
    width: 160px;
    height: 100%;
    display: block;
  }
}

.oque-fazemos {
  position: relative;
  width: 100%;
}

.oque-fazemos h2 {
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 4.5%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  margin-bottom: 60px;
}

@media screen and (max-width: 759px) {
  .oque-fazemos h2 {
    font-size: 28px;
  }
}

.oque-fazemos h2 span {
  color: #FC6E40;
}

.bg-fundo {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 700px;
  background: linear-gradient(171.83deg, rgba(0, 0, 0, 0.03) 8.49%, rgba(0, 0, 0, 0.012) 46.94%);
  height: 380px;
  margin: 0 auto;
  padding: 30px 30px 30px 30px;
  border-radius: 12px;
  position: relative;
  box-shadow: 1px 1px 1px 0.1px rgba(118, 117, 104, 0.1);
}

.bg-fundo h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.07em;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  color: #282a2d;
  z-index: 9;
}

@media screen and (max-width: 759px) {
  .bg-fundo h3 {
    font-size: 22px;
  }
}

.bg-fundo p {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.045em;
  color: #767568;
  margin-bottom: 40px;
}

@media screen and (max-width: 759px) {
  .bg-fundo {
    width: 300px;
    height: 900px;
    box-shadow: 1px 1px 1px 0.1px rgba(118, 117, 104, 0.1);
  }
}

.icon-web p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  color: #FC6E40;
}

.icon-web img {
  margin: 0 auto;
}

@media screen and (max-width: 759px) {
  .icon-web {
    flex-direction: column;
  }
}

.blob-1-a {
  position: absolute;
  top: 200px;
  z-index: -99;
  background-image: url(../img/blob-1-a.svg);
  width: 230px;
  height: 780px;
  display: block;
  background-repeat: no-repeat;
  transition: 0.4s ease;
}

@media screen and (max-width: 759px) {
  .blob-1-a {
    background-image: url(../img/blob-1-a-mobile.svg);
    top: initial;
    margin-top: 10px;
  }
}

.blob-1-b {
  position: absolute;
  top: 480px;
  transition: 0.5s ease;
  z-index: -90;
  background-image: url(../img/blob-1-b.svg);
  width: 199px;
  height: 581px;
  display: block;
  background-repeat: no-repeat;
}

@media screen and (max-width: 759px) {
  .blob-1-b {
    background-image: url(../img/blob-1-b-mobile.svg);
    top: initial;
    margin-top: -20px;
    transition: 0.4s ease;
  }
}

.ui {
  background-image: url(../img/ui.svg);
  width: 107px;
  height: 109px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 320px;
  top: 190px;
  z-index: -9;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .ui {
    right: 90px;
    top: 190px;
  }
}

@media screen and (max-width: 759px) {
  .ui {
    right: initial;
    top: initial;
    bottom: 60px;
    width: 60px;
    right: 100px;
    opacity: 70%;
  }
}

.circulo-ui {
  background-image: url(../img/circulo-ui.svg);
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 9px;
  top: -14px;
  z-index: 2;
  animation: rodadinha 22s linear infinite;
  opacity: 30%;
}

@media screen and (max-width: 759px) {
  .circulo-ui {
    right: initial;
    top: initial;
    bottom: 52px;
    width: 65px;
    height: 65px;
    right: 1px;
  }
}

.telas {
  background-image: url(../img/telas.svg);
  width: 217px;
  height: 77px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 360px;
  top: 310px;
  z-index: -9;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .telas {
    right: initial;
    top: 450px;
  }
}

@media screen and (max-width: 759px) {
  .telas {
    right: initial;
    top: 310px;
    width: 117px;
    opacity: 20%;
  }
}

.mouse {
  width: 14px;
  height: 18px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 100px;
  top: 55px;
  z-index: -9;
}

@media screen and (max-width: 759px) {
  .mouse {
    right: initial;
    animation: seta-mobile 1.5s both ease;
    top: initial;
    width: 10px;
  }
}

@media screen and (max-width: 759px) {
  .mouse2 {
    width: 14px;
    height: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 100px;
    top: 55px;
    z-index: -9;
    right: initial;
    animation: seta-mobile2 1.5s both ease;
    animation-delay: 1.5s;
    top: initial;
    width: 10px;
  }
}

@media screen and (max-width: 759px) {
  .mouse3 {
    width: 14px;
    height: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 100px;
    top: 55px;
    z-index: -9;
    right: initial;
    animation: seta-mobile3 1.5s both ease;
    animation-delay: 3s;
    top: initial;
    width: 10px;
  }
}

@media screen and (max-width: 759px) {
  .mouse4 {
    width: 19px;
    height: 4px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 77px;
    top: 15px;
    z-index: -9;
    background-color: #F4D88E;
    border-radius: 1px;
    opacity: 50%;
    animation: aparece 1.6s both ease;
    animation-delay: 0.1s;
  }
}

@media screen and (max-width: 759px) {
  .mouse5 {
    width: 15px;
    height: 4px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 77px;
    top: 22px;
    z-index: -9;
    background-color: #F4D88E;
    border-radius: 1px;
    opacity: 50%;
    animation: aparece 1.6s both ease;
    animation-delay: 1.7s;
  }
}

@media screen and (max-width: 759px) {
  .mouse6 {
    width: 13px;
    height: 4px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 77px;
    top: 29px;
    z-index: -9;
    background-color: #F4D88E;
    border-radius: 1px;
    opacity: 50%;
    animation: aparece 1.6s both ease;
    animation-delay: 3.2s;
  }
}

@media screen and (max-width: 759px) {
  .celular1 {
    width: 6px;
    height: 3px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 107px;
    top: 23px;
    z-index: -9;
    background-color: #F4D88E;
    border-radius: 1px;
    opacity: 50%;
    animation: aparece 1.6s both ease;
    animation-delay: 0.1s;
  }
}

@media screen and (max-width: 759px) {
  .celular2 {
    width: 6px;
    height: 3px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 107px;
    top: 28px;
    z-index: -9;
    background-color: #F4D88E;
    border-radius: 1px;
    opacity: 50%;
    animation: aparece 1.6s both ease;
    animation-delay: 1.7s;
  }
}

@media screen and (max-width: 759px) {
  .celular3 {
    width: 6px;
    height: 3px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 107px;
    top: 32px;
    z-index: -9;
    background-color: #F4D88E;
    border-radius: 1px;
    opacity: 50%;
    animation: aparece 1.6s both ease;
    animation-delay: 3.2s;
  }
}

.processo h2 {
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 4.5%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  margin-top: 90px;
}

@media screen and (max-width: 759px) {
  .processo h2 {
    font-size: 28px;
  }
}

.processo h2 span {
  color: #FC6E40;
}

.processo p {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.07em;
  color: #767568;
  margin-top: 10px;
  max-width: 550px;
}

@media screen and (max-width: 759px) {
  .processo p {
    font-size: 20px;
    line-height: 22px;
  }
}

.circulos {
  /* background-image: url(../img/trio-como-funciona.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
  height: 360px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .processo-circulos {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .processo-circulos {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.briefing {
  background-image: url(../img/pesquisa-briefing.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 360px;
  display: block;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  margin-left: 75px;
}

.briefing:hover {
  background-image: url(../img/pesquisa-briefing-hover.svg);
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .briefing {
    margin-left: 53px;
  }
}

@media screen and (max-width: 759px) {
  .briefing {
    background-image: url(../img/briefing-mobile.svg);
    width: 220px;
    height: 228px;
    margin-left: 0px;
  }
  .briefing:hover {
    background-image: url(../img/briefing-mobile-hover.svg);
  }
}

.design {
  background-image: url(../img/design.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 360px;
  display: block;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
  right: 25px;
}

.design:hover {
  background-image: url(../img/design-hover.svg);
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .design {
    right: 18px;
  }
}

@media screen and (max-width: 759px) {
  .design {
    background-image: url(../img/design-mobile.svg);
    width: 220px;
    height: 228px;
    margin-left: 0px;
    right: 0px;
    top: -12px;
  }
  .design:hover {
    background-image: url(../img/design-mobile-hover.svg);
  }
}

.desenvolvimento {
  background-image: url(../img/desenvolvimento.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 360px;
  display: block;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
  right: 50px;
}

.desenvolvimento:hover {
  background-image: url(../img/desenvolvimento-hover.svg);
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .desenvolvimento {
    right: 35px;
  }
}

@media screen and (max-width: 759px) {
  .desenvolvimento {
    background-image: url(../img/desenvolvimento-mobile.svg);
    width: 220px;
    height: 242px;
    margin-left: 0px;
    right: 0px;
    top: -26px;
  }
  .desenvolvimento:hover {
    background-image: url(../img/desenvolvimento-mobile-hover.svg);
    top: -27px;
  }
}

.feito-a-mao {
  margin-top: 120px;
  padding: 0 120px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .feito-a-mao {
    margin-top: 20px;
    padding: 0 80px;
  }
}

@media screen and (max-width: 759px) {
  .feito-a-mao {
    margin-top: 370px;
    padding: 0 0px;
  }
}

.feito-a-mao h2 {
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 4.5%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  margin-bottom: 80px;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 759px) {
  .feito-a-mao h2 {
    font-size: 28px;
  }
}

.feito-a-mao h2 span {
  color: #FC6E40;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .feito-a-mao h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 759px) {
  .feito-a-mao h2 {
    margin-bottom: 40px;
    max-width: 320px;
    margin: 0 auto;
    line-height: 40px;
  }
}

.feito-a-mao h2:after {
  content: '';
  background-image: url(../img/espaçador-desktop.svg);
  display: inline-block;
  width: 150px;
  height: 25px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -20px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .feito-a-mao h2:after {
    width: 130px;
  }
}

@media screen and (max-width: 759px) {
  .feito-a-mao h2:after {
    width: 115px;
  }
}

@media screen and (max-width: 759px) {
  .feito-a-mao ul li {
    width: 50%;
  }
}

.feito-a-mao {
  position: relative;
  margin-bottom: 120px;
}

.feito-a-mao ul {
  margin-top: 40px;
}

.feito-a-mao li img {
  margin: 0 auto;
}

@media screen and (max-width: 759px) {
  .feito-a-mao li img {
    width: 100px;
  }
}

.feito-a-mao p {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.07em;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  color: #282a2d;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  display: block;
  max-width: 180px;
  margin: 0 auto;
}

@media screen and (max-width: 759px) {
  .feito-a-mao p {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 14px;
    max-width: 130px;
    letter-spacing: 0;
  }
}

.blob-2-a {
  position: absolute;
  z-index: -99;
  background-image: url(../img/blob-2-a.svg);
  width: 204px;
  height: 1400px;
  display: block;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .blob-2-a {
    width: 130px;
  }
}

@media screen and (max-width: 759px) {
  .blob-2-a {
    width: 100px;
  }
}

.blob-2-b {
  position: absolute;
  z-index: -9;
  background-image: url(../img/blob-2-b.svg);
  width: 230px;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  right: 0px;
  top: 130px;
  transition: 1.9s ease;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .blob-2-b {
    width: 180px;
    top: 150px;
  }
}

@media screen and (max-width: 759px) {
  .blob-2-b {
    width: 90px;
    top: 300px;
    transition: 1.5s ease-out;
  }
}

.blob-2-c {
  position: absolute;
  z-index: -9;
  background-image: url(../img/blob-2-c.svg);
  width: 219px;
  height: 581px;
  display: block;
  background-repeat: no-repeat;
  right: 0px;
  top: 320px;
  transition: 1.3s ease;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .blob-2-c {
    width: 180px;
    top: 320px;
  }
}

@media screen and (max-width: 759px) {
  .blob-2-c {
    width: 90px;
    top: 420px;
    transition: 1.3s ease-out;
  }
}

.preco {
  position: relative;
}

.preco h2 {
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 4.5%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
}

@media screen and (max-width: 759px) {
  .preco h2 {
    font-size: 28px;
  }
}

.preco h2 span {
  color: #FC6E40;
}

.preco p:nth-child(2) {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.07em;
  color: #767568;
  text-transform: initial;
}

@media screen and (max-width: 759px) {
  .preco p:nth-child(2) {
    font-size: 20px;
    line-height: 22px;
  }
}

.preco h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 22px;
}

.preco {
  text-transform: uppercase;
}

.preco li {
  margin-bottom: 30px;
  margin-left: 25px;
  z-index: 90;
}

.preco li p {
  font-size: 16px;
  color: #767568;
}

@media screen and (max-width: 759px) {
  .preco li p {
    font-size: 14px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 369px) {
  .preco li p {
    margin-left: 10px;
  }
}

.preco li p:before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #F98E64;
  border-radius: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 759px) {
  .preco li p:before {
    margin-right: 8px;
    width: 10px;
    height: 10px;
  }
}

.preco h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-left: -20px;
  margin-top: 60px;
}

.preco h4 span {
  margin-left: 30px;
  font-size: 26px;
  background: linear-gradient(143.33deg, #FC6E40 23.52%, #EE4137 78.43%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "IBM Plex Mono", monospace;
}

@media screen and (max-width: 759px) {
  .preco h4 span {
    margin-left: 10px;
    font-size: 22px;
  }
}

.card-preco {
  background: linear-gradient(171.83deg, rgba(0, 0, 0, 0.03) 8.49%, rgba(0, 0, 0, 0.012) 46.94%);
  display: block;
  padding: 20px 20px;
  margin: 0 auto;
  display: block;
  max-width: 380px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 1px 1px 2px 0.5px rgba(118, 117, 104, 0.1);
  margin-top: 80px;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 759px) {
  .card-preco {
    padding: 20px 5px;
  }
}

.call {
  margin: 40px auto;
  display: block;
  padding: 20px 60px;
  text-transform: uppercase;
  box-shadow: 2px 10px 10px rgba(252, 110, 64, 0.39);
  background: linear-gradient(143.33deg, #FC6E40 23.52%, #EE4137 78.43%);
  border: none;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 999;
}

.call a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 18px;
  position: relative;
  color: #ffffff;
  right: 20px;
  font-style: normal;
  z-index: 1999;
  line-height: 31px;
  color: #FFFFFF;
}

.call a:after {
  content: '';
  display: inline-block;
  background-image: url(../img/whatsapp.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  position: absolute;
  right: -50px;
  top: 0px;
}

@media screen and (max-width: 759px) {
  .call a:after {
    right: -40px;
  }
}

@media screen and (max-width: 759px) {
  .call {
    padding: 20px 45px;
  }
}

.call:hover {
  box-shadow: 10px 14px 10px rgba(252, 110, 64, 0.39);
  transform: scale(1.1);
}

.detalhe {
  background-image: url(../img/arranjo-bolas.svg);
  width: 40px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 405px;
  bottom: -5px;
  z-index: -99;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .detalhe {
    right: 185px;
  }
}

@media screen and (max-width: 759px) {
  .detalhe {
    right: 30px;
  }
}

@media screen and (max-width: 369px) {
  .detalhe {
    right: 10px;
  }
}

.quem-somos {
  margin-top: 40px;
}

.blob-3-a {
  position: absolute;
  z-index: -99;
  background-image: url(../img/blob-3-a.svg);
  width: 373px;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  left: 0px;
  top: -280px;
  transition: 0.7s ease;
}

@media screen and (max-width: 759px) {
  .blob-3-a {
    width: 100px;
    top: -180px;
  }
}

.blob-3-b {
  position: absolute;
  z-index: -99;
  background-image: url(../img/blob-3-b.svg);
  width: 222px;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  left: 0px;
  top: -70px;
  transition: 0.7s ease-out;
}

@media screen and (max-width: 759px) {
  .blob-3-b {
    width: 80px;
    top: -20px;
  }
}

.blob-3-c {
  position: absolute;
  z-index: -99;
  background-image: url(../img/blob-3-c.svg);
  width: 60%;
  height: 60%;
  display: block;
  background-repeat: no-repeat;
  left: 0px;
  top: 80px;
  transition: 1.5s ease-out;
}

@media screen and (max-width: 759px) {
  .blob-3-c {
    display: none;
  }
}

.quem-somos {
  margin-top: 120px;
}

.quem-somos h2 {
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 4.5%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  margin-bottom: 40px;
}

@media screen and (max-width: 759px) {
  .quem-somos h2 {
    font-size: 28px;
  }
}

.quem-somos h2 span {
  color: #FC6E40;
}

.quem-somos .logo-2 {
  width: 120px;
}

@media screen and (max-width: 759px) {
  .quem-somos .logo-2 {
    order: -2;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80px;
  }
}

.quem-somos p {
  max-width: 400px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.07em;
  color: #767568;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

@media screen and (max-width: 759px) {
  .quem-somos p {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: 759px) {
  .quem-somos p {
    order: -1;
    font-size: 17px;
  }
}

.card-quem-somos {
  background: linear-gradient(171.83deg, rgba(0, 0, 0, 0.03) 8.49%, rgba(0, 0, 0, 0.012) 46.94%);
  padding: 40px;
  box-shadow: 2px 2px 1px 0.2px rgba(118, 117, 104, 0.1);
  border-radius: 12px;
  max-width: 720px;
  margin: 0 auto;
}

.insta img {
  margin: 20px auto;
  margin-top: 40px;
}

.insta p {
  text-align: center;
  display: block;
  max-width: initial;
  margin-top: -15px;
  color: #FC6E40;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

/* * {

    cursor: url(../img/pointer2.cur), default;
    cursor: url(../img/text.cur), text;





} */
