/* @keyframes move1 {
    from {
        transform: translateX(-40px);
    }
}

@keyframes move2 {
    from {
        transform: translateX(-60px);
    }
}

@keyframes move3 {
    from {
        transform: translateX(-80px);
    }
}



.wave-1 {
    animation: move1 4s ease-in-out infinite alternate;
}

.wave-2 {
    animation: move2 4s 200ms ease-in-out infinite alternate;
}

.wave-3 {
    animation: move3 4s 400ms ease-in-out infinite alternate;
} */