@keyframes rodadinha {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes seta-mobile {
    from {
        transform: translate(20px, 10%)
    }

    to {
        transform: translate(10px, 30%);
        background-image: url(../img/1.svg);
        width: 50px;
        opacity: 50%;
    }



}

@keyframes seta-mobile2 {
    from {
        transform: translate(20px, 100%);
        opacity: 0;
    }

    10% {

        opacity: 100%;
    }

    100% {
        transform: translate(0px, 80%);
        background-image: url(../img/1.svg);
        width: 40px;
    }



}

@keyframes seta-mobile3 {
    from {
        transform: translate(20px, 100%);
        opacity: 0;
    }

    10% {

        opacity: 100%;
    }

    100% {
        transform: translate(0px, 140%);
        background-image: url(../img/1.svg);
        width: 30px;
    }



}

@keyframes seta-mobile4 {
    from {
        background-image: url(../img/1.svg);
        width: 200px;
        right: 40px;

    }

    10% {

        opacity: 100%;
    }

    100% {
        transform: translate(0px, 140%);
        width: 30px;
    }



}

@keyframes aparece {
    from {
        opacity: 0;
    }

    to {
        transform: translate(0px, 10%);
        opacity: 50%;
    }
}

@keyframes opaciti {
    0% {
        opacity: 0%;
        position: absolute;
        right: -60%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
        right: 0px;
    }
}

@keyframes opaciti-volta {
    0% {
        opacity: 100%;
        position: absolute;
        left: -600px;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
        left: 0px;
    }
}

@keyframes opaciti-volta2 {
    0% {
        opacity: 20%;
        position: absolute;
        transform: translateX(0);
    }

    50% {
        opacity: 90%;
    }

    100% {
        opacity: 100%;
        transform: translateX(100%);
        display: none;

    }
}