body {
    background-color: $fundo;
    overflow-X: hidden;
    height: 6000px;
    font-family: $font-sans;

}

*:focus {
    outline: none;
}

.intro {
    height: 500px;
    background-color: $preto-base;
    position: relative;
    z-index: -10;

    & nav {
        padding-top: 20px;
    }

    //titulo principal
    h1 {
        @include titulo;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 68px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        margin-top: 80px;
        color: $fundo;


        @include d(s) {
            font-size: 28px;
            line-height: 36px;
            margin-top: 100px;
            margin-bottom: 60px;

        }

        @include d(ss) {
            font-size: 26px;
        }
    }

    p {
        color: $fundo-claro;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 500;
        letter-spacing: 0.045em;

        @include d(s) {
            font-size: 16px;
            line-height: 21px;
        }
    }

}



//menu
.menu {
    color: $fundo;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid $fundo;
    border-radius: 6px;
    font-weight: 500;

    &::after {
        content: '';
        background-image: url(../img/menu-iconsvg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 19px;
        height: 17px;
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;

    }
}

//fim menu

//icones bg

.bg-icons {
    background-image: url("../img/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 480px;
    height: 550px;
    right: 20px;
    top: 180px;
    background-size: contain;
    z-index: -2;

    @include d(m) {
        width: 300px;
        top: 300px;
    }

    @include d(s) {
        background-image: url("../img/bg-intro-mobile.svg");
        left: 10px;
        right: 0;
        top: 145px;
        max-width: 280px;



    }
}

//ondas
.ondas {
    max-width: 100%;
    height: 100%;
    position: relative;
    z-index: -99;
    //bottom: 0px;
    top: -5px;
    left: 0;
}

header {
    position: relative;
    max-width: 100%;

}

button.arrow {
    background-image: url(../img/seta-down.svg);
    display: block;
    width: 32px;
    height: 22px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 30px;
    margin-top: 90px;
    z-index: 2000;
    border: none;
    background-color: initial;
    cursor: pointer !important;
    position: absolute;
    top: 360px;
    left: 0;
    right: 0;
}