.processo {
    h2 {
        @include titulo;
        margin-top: 140px;
    }

    p {
        @include subtitulo2;
        margin-top: 10px;
        max-width: 550px;
    }
}

.circulos {
    /* background-image: url(../img/trio-como-funciona.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    height: 360px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;


}

.processo-circulos {
    @include d(m) {
        max-width: 760px;
    }

    @include d(s) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

//briefing
.briefing {
    background-image: url(../img/pesquisa-briefing.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 334px;
    height: 360px;
    display: block;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    margin-left: 75px;

    &:hover {
        background-image: url(../img/pesquisa-briefing-hover.svg);

    }

    @include d (m) {
        margin-left: 53px;

    }

    @include d(s) {
        background-image: url(../img/briefing-mobile.svg);
        width: 220px;
        height: 228px;
        margin-left: 0px;


        &:hover {
            background-image: url(../img/briefing-mobile-hover.svg);

        }
    }
}

.design {
    background-image: url(../img/design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 334px;
    height: 360px;
    display: block;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    right: 25px;

    &:hover {
        background-image: url(../img/design-hover.svg);

    }

    @include d(m) {
        right: 18px;

    }

    @include d(s) {
        background-image: url(../img/design-mobile.svg);
        width: 220px;
        height: 228px;
        margin-left: 0px;
        right: 0px;
        top: -12px;



        &:hover {
            background-image: url(../img/design-mobile-hover.svg);

        }
    }
}

.desenvolvimento {
    background-image: url(../img/desenvolvimento.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 360px;
    display: block;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    right: 50px;

    &:hover {
        background-image: url(../img/desenvolvimento-hover.svg);

    }

    @include d(m) {
        right: 35px;

    }

    @include d(s) {
        background-image: url(../img/desenvolvimento-mobile.svg);
        width: 220px;
        height: 242px;
        margin-left: 0px;
        right: 0px;
        top: -26px;



        &:hover {
            background-image: url(../img/desenvolvimento-mobile-hover.svg);
            top: -27px;

        }
    }
}

//porque um site feito a mão é melhor

.feito-a-mao {
    margin-top: 120px;
    padding: 0 120px;

    @include d(m) {
        margin-top: 20px;
        padding: 0 80px;

    }

    @include d(s) {
        margin-top: 370px;
        padding: 0 0px;

    }

    h2 {
        @include titulo;
        margin-bottom: 80px;
        position: relative;
        padding-bottom: 20px;
        text-align: center;

        @include d(m) {
            font-size: 32px;
            margin-bottom: 40px;

        }

        @include d(s) {
            margin-bottom: 40px;
            max-width: 320px;
            margin: 0 auto;
            line-height: 40px;
        }

        &:after {
            content: '';
            background-image: url(../img/espaçador-desktop.svg);
            display: inline-block;
            width: 150px;
            height: 25px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -20px;
            right: 0px;
            left: 0px;
            margin-right: auto;
            margin-left: auto;

            @include d(m) {
                width: 130px;
            }

            @include d(s) {
                width: 115px;
            }

        }


    }

}

.feito-a-mao ul li {
    @include d(s) {

        width: 50%;
    }
}

//blob 
.feito-a-mao {
    ul {
        margin-top: 40px;
    }

    position: relative;
    margin-bottom: 120px;

    li img {
        margin: 0 auto;

        @include d(s) {
            width: 100px;
        }
    }

    p {
        text-align: center;
        @include subtitulo(14px);
        font-weight: 700;
        font-family: $font-sans;
        display: block;
        max-width: 180px;
        margin: 0 auto;

        @include d(s) {
            margin: 0 auto;

            margin-bottom: 20px;
            font-size: 14px;
            max-width: 130px;
            letter-spacing: 0;
        }
    }

}

//blob
.blob-2-a {
    position: absolute;
    z-index: -99;
    background-image: url(../img/blob-2-a.svg);
    width: 204px;
    height: 1400px;
    display: block;
    background-repeat: no-repeat;
    right: 0;
    top: 0;

    @include d(m) {
        width: 130px;

    }

    @include d(s) {
        width: 100px;


    }

    @include d(ss) {
        width: 70px;

    }
}

.blob-2-b {
    position: absolute;
    z-index: -9;
    background-image: url(../img/blob-2-b.svg);
    width: 230px;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    right: 0px;
    top: 130px;
    transition: 1.2s ease;

    @include d(m) {
        width: 180px;
        top: 150px;

    }

    @include d(s) {
        width: 90px;
        top: 300px;
        transition: 1.5s ease-out;

    }

    @include d(ss) {
        width: 70px;

    }

}



.blob-2-c {
    position: absolute;
    z-index: -9;
    background-image: url(../img/blob-2-c.svg);
    width: 219px;
    height: 581px;
    display: block;
    background-repeat: no-repeat;
    right: 0px;
    top: 320px;
    transition: 0.8s ease;

    @include d(m) {
        width: 180px;
        top: 320px;

    }

    @include d(s) {
        width: 90px;
        top: 420px;

        transition: 1.3s ease-out;

    }

    @include d(ss) {
        width: 70px;

    }


}