//primeira seção

.nuvem {
    right: 0;
    position: absolute;
    margin-top: 150px;
    z-index: -200;
    transition: 0.3s ease-out;
    background-image: url(../img/nuvem.svg);
    width: 387px;
    height: 302px;
    display: block;
    background-repeat: no-repeat;


    @include d(s) {
        background-image: url(../img/nuvem-mobile.svg);
        left: 0;
        position: absolute;
        margin-top: 60px;
        transition: 0.5s ease-out;
        width: 160px;
        height: 100%;
        display: block;
    }
}


.oque-fazemos {
    position: relative;
    width: 100%;

    h2 {
        @include titulo;
        margin-bottom: 60px;


    }
}

.bg-fundo {
    @include blur;

    width: 700px;
    background: $gradiente-branco;
    height: 380px;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 1px 1px 1px 0.1px rgba($preto-claro, $alpha: 0.1);


    h3 {
        @include subtitulo(24px);
        z-index: 9;

        @include d(s) {
            font-size: 22px;
        }


    }

    p {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.045em;
        color: $preto-claro;
        margin-bottom: 40px;

    }

    @include d (s) {
        width: 300px;
        height: 900px;
        box-shadow: 1px 1px 1px 0.1px rgba($preto-claro, $alpha: 0.1);

    }
}

.icon-web {
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
        color: #FC6E40;
    }

    img {
        margin: 0 auto;
    }


}

.icon-web {
    @include d(s) {
        flex-direction: column;

    }
}

//blob



.blob-1-a {
    position: absolute;
    top: 200px;
    z-index: -99;
    background-image: url(../img/blob-1-a.svg);
    width: 230px;
    height: 780px;
    display: block;
    background-repeat: no-repeat;
    transition: 0.4s ease;

    @include d(s) {
        top: initial;
        margin-top: -100px;
        width: 120px;
    }
}

.blob-1-b {
    position: absolute;
    top: 480px;
    transition: 0.5s ease;
    z-index: -90;
    background-image: url(../img/blob-1-b.svg);
    width: 199px;
    height: 581px;
    display: block;
    background-repeat: no-repeat;

    @include d(s) {
        top: initial;
        margin-top: 40px;
        width: 60px;
        transition: 1s ease;

    }


}

.blob-1-c {
    position: absolute;
    top: 480px;
    transition: 1.5s ease;
    z-index: -90;
    background-image: url(../img/blob-1-c.svg);
    width: 199px;
    height: 581px;
    display: block;
    background-repeat: no-repeat;

    @include d(s) {
        top: initial;
        margin-top: 0px;
        width: 80px;
    }

}

// ornamentos intro
//ui circulo
.ui {
    background-image: url(../img/ui.svg);
    width: 107px;
    height: 109px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 320px;
    top: 190px;
    z-index: -9;

    @include d(m) {
        right: 90px;
        top: 190px;
    }

    @include d (s) {
        right: initial;
        top: initial;
        bottom: 60px;
        width: 60px;
        right: 100px;
        opacity: 70%;

    }

}

.circulo-ui {
    background-image: url(../img/circulo-ui.svg);
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 9px;
    top: -14px;
    z-index: 2;
    animation: rodadinha 22s linear infinite;
    opacity: 30%;

    @include d (s) {
        right: initial;
        top: initial;
        bottom: 52px;
        width: 65px;
        height: 65px;
        right: 1px;

    }

}

// telas e mouse

.telas {
    background-image: url(../img/telas.svg);
    width: 217px;
    height: 77px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 360px;
    top: 310px;
    z-index: -9;

    @include d (m) {
        right: initial;
        top: 450px;


    }

    @include d(s) {
        right: initial;
        top: 310px;
        width: 117px;
        opacity: 20%;


    }
}

.mouse {
    width: 14px;
    height: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 100px;
    top: 55px;
    z-index: -9;


    @include d(s) {
        right: initial;
        animation: seta-mobile 1.5s both ease;

        top: initial;
        width: 10px;
    }
}

.mouse2 {
    @include d(s) {
        width: 14px;
        height: 18px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 100px;
        top: 55px;
        z-index: -9;
        right: initial;
        animation: seta-mobile2 1.5s both ease;
        animation-delay: 1.5s;
        top: initial;
        width: 10px;
    }
}

.mouse3 {
    @include d(s) {

        width: 14px;
        height: 18px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 100px;
        top: 55px;
        z-index: -9;
        right: initial;
        animation: seta-mobile3 1.5s both ease;
        animation-delay: 3s;
        top: initial;
        width: 10px;
    }
}

.mouse4 {
    @include d(s) {


        width: 19px;
        height: 4px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 77px;
        top: 15px;
        z-index: -9;
        background-color: $amarelo-claro;
        border-radius: 1px;
        opacity: 50%;
        animation: aparece 1.6s both ease;
        animation-delay: 0.1s
    }
}

.mouse5 {
    @include d(s) {


        width: 15px;
        height: 4px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 77px;
        top: 22px;
        z-index: -9;
        background-color: $amarelo-claro;
        border-radius: 1px;
        opacity: 50%;
        animation: aparece 1.6s both ease;
        animation-delay: 1.7s;
    }
}

.mouse6 {
    @include d(s) {
        width: 13px;
        height: 4px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 77px;
        top: 29px;
        z-index: -9;
        background-color: $amarelo-claro;
        border-radius: 1px;
        opacity: 50%;
        animation: aparece 1.6s both ease;
        animation-delay: 3.2s;
    }
}

.celular1 {
    @include d(s) {
        width: 6px;
        height: 3px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 107px;
        top: 23px;
        z-index: -9;
        background-color: $amarelo-claro;
        border-radius: 1px;
        opacity: 50%;
        animation: aparece 1.6s both ease;
        animation-delay: 0.1s;
    }

}


.celular2 {
    @include d(s) {
        width: 6px;
        height: 3px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 107px;
        top: 28px;
        z-index: -9;
        background-color: $amarelo-claro;
        border-radius: 1px;
        opacity: 50%;
        animation: aparece 1.6s both ease;
        animation-delay: 1.7s;
    }

}

.celular3 {
    @include d(s) {
        width: 6px;
        height: 3px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 107px;
        top: 32px;
        z-index: -9;
        background-color: $amarelo-claro;
        border-radius: 1px;
        opacity: 50%;
        animation: aparece 1.6s both ease;
        animation-delay: 3.2s;
    }

}